[user]
	name = Oleg Kandaurov
	email = kandaurovoleg@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[diff]
	tool = meld
[push]
	default = current
[difftool]
	prompt = false
[alias]
	d = difftool
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	wip = "git add -A; git ls-files --deleted -z | xargs -0 git rm; git commit -m \"wip\""
	unwip = git log -n 1 | grep -q -c wip && git reset HEAD~1
[core]
	pager = cat
	editor = vim
[merge]
	tool = meld
