[user]
	name = Oleg Kandaurov
	email = kandaurovoleg@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[diff]
	tool = meld
[push]
	default = current
[difftool]
	prompt = false
[alias]
	d = difftool
	co = checkout
	br = branch
	ds = diff --staged
	ci = commit
	st = status
	unstage = reset HEAD --
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    show-files = show --pretty="format:" --name-only 
[core]
	pager = cat
	editor = vim
	autocrlf = input
[merge]
    ff = false
    tool = meld
[mergetool]
    promt = false
[status]
    showUntrackedFiles = all
[log]
	decorate = full
